<h3>以下の内容で、送信する。</h3>
<%= form_with(model: @blog, local: true) do |form| %>
  <%= image_tag(@blog.image.url) if @blog.image && @blog.image.url %>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :content %>
  <p>本文:<%= @blog.content %></p>
  <%= form.submit  "登録する", class:"btn btn-primary" %>
  <%= form.submit "戻る", name: "back", class:"btn btn-warning" %>
<% end %>